Nom de la région : Île-de-France
Population :12 262 544 habitants
Superficie :12 011 km²
Nombre de département : 8 départements  
Logo de la région :



Nom de la région : Normandie
Population : 3 342 467 habitants
Superficie : 29 906 km²
Nombre de département : 5
Logo de la région :




Nom de la région : Hauts-de-France
Population : 6 004 947 habitants
Superficie : 31 806 km²
Nombre de département : 5
Logo de la région :




Nom de la région : Grand Est
Population : 5 550 389 habitants
Superficie : 57 441 km²
Nombre de département : 10
Logo de la région :



Nom de la région : Centre-Val de Loire
Population : 39 151 km²
Superficie : 2 580 000 habitants
Nombre de département : 6
Logo de la région :



Nom de la région : Pays de la Loire
Population : 3 806 461 habitant
Superficie : 32 082 km²
Nombre de département : 5
Logo de la région :



Nom de la région : Bretagne
Population : 3 354 854 habitant
Superficie : 27 209 km²
Nombre de département : 4
Logo de la région :



Nom de la région : Bourgogne-Franche-Comté
Population : 2 805 580 habitants
Superficie : 47 784 km²
Nombre de département : 8
Logo de la région : 



Nom de la région : Nouvelle-Aquitaine 
Population : 6 010 289 habitant
Superficie : 84 036 km²
Nombre de département : 4
Logo de la région :


Nom de la région : Auvergne-Rhône-Alpes
Population : 8 042 936 habitant
Superficie : 69 711 km²
Nombre de département : 12
Logo de la région :



Nom de la région : Occitanie
Population : 5 933 185 habitant
Superficie : 72 724 km²
Nombre de département : 13
Logo de la région :



Nom de la région : Provence-Alpes-Côte d'Azur
Population : 5 081 101 habitant
Superficie : 31 400 km²
Nombre de département : 6
Logo de la région :



Nom de la région :  Corse
Population : 340 440 habitant
Superficie : 8 722 km²
Nombre de département : 2
Logo de la région :



